{% extends 'shared/_layout.html' %}

{{% block title %}
    {{ product.title }}
{% endblock %}


{% block topbody %}
    <div id="content-wrap">


        <!-- ========================
        ///// Begin page header /////
        =============================
        * ATENTION: This page header is slightly different from the default page header! 
        It contains some extra elements and classes specifically for a portfolio single project.
        ============================= 
        * Use class "ph-full" to enable fullscreen size.
        * Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).).
        * Use class "ph-center" to enable content center position.
        * Use class "ph-bg-image" to enable page header background image (required for a portfolio single project!).
        * Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image (effect only with class "ph-bg-image").
        * Use class "ph-image-shadow" to enable page header background image (effect only with class "ph-bg-image").
        * Use class "ph-image-cropped" to crop image. It fixes image dimensions (no effect for "ph-bg-image"!).
        * Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
        * Use class "ph-content-parallax" to enable content parallax.
        * Use class "ph-stroke" to enable caption title stroke style.
        * Use class "ph-inline" to enable content inline position (for a single project page only! No effect with class "ph-center"!).
        -->
        <div id="page-header"
             class="ph-full ph-inline ph-bg-image ph-image-shadow ph-image-cover-5 ph-content-parallax"
             style="direction: rtl">
            <div class="page-header-inner tt-wrap">

                <!-- Begin page header image 
                ============================= -->
                <div class="ph-image">
                    <div class="ph-image-inner">
                        <img src="{{ product.main_image.url }}">
                    </div>
                </div>
                <!-- End page header image -->

                <!-- Begin page header caption
                =============================== 
                Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
                -->
                <div class="ph-caption">
                    <div class="ph-categories ph-appear">
                        <div class="ph-category" style="">{{ product.category }}</div>
                        <!-- <div class="ph-category">Varia</div> -->
                    </div> <!-- /.ph-categories -->

                    <h4 class="ph-caption-title ph-appear">{{ product.title }}</h4>
                    <!-- You can use <br class="hide-from-lg"> to break a text line if needed -->
                    <!-- <h4 class="ph-caption-subtitle ph-appear">Subtitle</h4> -->
                </div>
                <!-- End page header caption -->

                <!-- Begin project info list
                ============================= 
                * You can use the project info list as a standalone element outside of the page header if you want.
                * Class "ph-appear" is for page header only!
                -->
                <div class="project-info-list anim-fadeinup">
                    <ul>
                        <li>
                            <div class="pi-list-heading">دسته بندی:</div>
                            <div class="pi-list-cont">{{ product.category.title }}</div>
                        </li>
                        <li>
                            <div class="pi-list-heading">زمان انتشار</div>
                            <div class="pi-list-cont">{{ product.created_date.year }}</div>
                        </li>
                        <li>
                            <div class="pi-list-heading">نام طراح</div>
                            <div class="pi-list-cont">{{ product.designer }}</div> <!-- Describe in a few words -->
                        </li>
                    </ul>
                </div>
                <!-- End project info list -->

            </div> <!-- /.page-header-inner -->

            <!-- Begin scroll down circle (you can change "data-offset" to set scroll top offset) 
            ============================== -->
            <a href="#page-content" class="scroll-down-circle" data-offset="30">
                <div class="sdc-inner ph-appear">
                    <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
                    <svg viewBox="0 0 500 500">
                        <defs>
                            <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                  id="textcircle"></path>
                        </defs>
                        <text dy="30">
                            <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                        </text>
                    </svg>
                </div> <!-- /.sdc-inner -->
            </a>
            <!-- End scroll down circle -->

            <!-- Begin made with love 
            ========================== -->
            <div class="made-with-love ph-appear">
                <div class="mwl-inner">
                    <div class="mwl-text">ساخته شده با</div>
                    <div class="mwl-icon"><i class="far fa-heart"></i></div>
                </div>
            </div>
            <!-- End made with love -->

            <!-- Begin page header share (share buttons are for design purposes only!) 
            ============================= -->
            <div class="ph-share">
                <div class="ph-share-trigger ph-appear">
                    <div class="ph-share-text">Share</div>
                    <div class="ph-share-icon magnetic-item"><i class="fas fa-share-alt"></i></div>
                </div> <!-- /.ph-share-trigger -->

                <div class="ph-share-content">
                    <div class="ph-share-close cursor-close">
                        <div class="bg-noise"></div>
                    </div>
                    <div class="ph-share-inner">
                        <h1 class="ph-share-title ph-share-appear">Spread the Word!</h1>
                        <div class="ph-share-subtitle ph-share-appear">Share this project with your friends</div>

                        <div class="social-buttons ph-share-appear">
                            <ul>
                                <li><a href="#0" class="magnetic-item" title="Share on Facebook"><i
                                        class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0" class="magnetic-item" title="Share on Twitter"><i
                                        class="fab fa-twitter"></i></a></li>
                                <li><a href="#0" class="magnetic-item" title="Share on Pinterest"><i
                                        class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div> <!-- /.social-buttons -->

                    </div> <!-- /.ph-share-inner -->

                    <div class="ph-share-ghost ph-share-appear">Share</div>
                </div> <!-- /.ph-share-content -->
            </div>
            <!-- End page header share -->

        </div>
        <!-- End page header -->


        <!-- *************************************
        *********** Begin page content *********** 
        ************************************** -->
        <div id="page-content">


            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
            <div class="tt-section padding-top-xlg-180 padding-left-sm-3-p padding-right-sm-3-p">
                <div class="tt-section-inner tt-wrap">

                    <div class="tt-row" style="direction: rtl">
                        <div class="tt-col-lg-4 padding-right-md-5-p">

                            <!-- Begin tt-Heading 
                            ====================== 
                            * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
                            * Use class "tt-heading-stroke" to enable stroke style.
                            * Use class "tt-heading-center" to align tt-Heading to center.
                            * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                            -->
                            <div class="tt-heading tt-heading-xsm margin-bottom-60 anim-fadeinup">
                                <h2 class="tt-heading-title">داستان {{ product.title }}</h2>
                                <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
                            </div>
                            <!-- End tt-Heading -->

                        </div> <!-- /.tt-col -->

                        <div class="tt-col-lg-8">

                            <div class="anim-fadeinup text-gray">
                                <p>{{ product.body }}

                                    <!-- <div class="tt-btn tt-btn-link no-margin">
                                        <a href="dummy-page.html" data-hover="Read More">Read More</a>
                                    </div> -->
                            </div>

                        </div> <!-- /.tt-col -->
                    </div> <!-- /.tt-row -->

                </div> <!-- /.tt-section-inner -->
            </div>
            <!-- End tt-section -->


            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
            <div class="tt-section">
                <div class="tt-section-inner">

                    <!-- Begin tt-image
                    ====================
                    * Use class "tti-fixed-height" to enable image fixed height (no effect on small screens!).
                    * Use class "anim-image-parallax" on <img> tag to enable parallax effect.
                    * Use class "margin-bottom-*" to enable bottom margins. For example "margin-bottom-100". More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-image tti-fixed-height">
                        <figure>
                            <img class="anim-image-parallax tt-lazy" src='{{ product.image1.url }}'
                                 data-src="{{ product.main_image }}"
                                 alt="image">

                        </figure>
                    </div>
                    <!-- End tt-image -->

                </div> <!-- /.tt-section-inner -->
            </div>
            <!-- End tt-section -->


            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
            <div style="direction: rtl"
                 class="tt-section padding-top-xlg-100 padding-bottom-xlg-100 padding-left-sm-3-p padding-right-sm-3-p">
                <div class="tt-section-inner tt-wrap max-width-900">

                    <!-- Begin tt-Heading 
                    ====================== 
                    * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
                    * Use class "tt-heading-stroke" to enable stroke style.
                    * Use class "tt-heading-center" to align tt-Heading to center.
                    * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-heading tt-heading-xsm anim-fadeinup">
                        <h2 class="tt-heading-title">سخن طراح {{ product.title }}</h2>
                        <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
                    </div>
                    <!-- End tt-Heading -->

                    <div class="anim-fadeinup text-gray">
                        <p>{{ product.designer_word }}</p>
                    </div>

                </div> <!-- /.tt-section-inner -->
            </div>
            <!-- End tt-section -->


            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
            <div class="tt-section padding-bottom-xlg-150">
                <div class="tt-section-inner">


                    <!-- =======================
                    ///// Begin tt-section /////
                    ============================
                    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-section padding-bottom-xlg-150">
                        <div class="tt-section-inner tt-wrap">

                            <!-- Begin page nav
                            ====================
                            * Use class "tt-pn-stroke" to enable title stroke style.
                            * Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
                            -->
                            {% if product.get_next_by_created_date %}
                                <div class="tt-page-nav tt-pn-scroll">
                                    <a href="{{ product.get_next_by_created_date.slug }}"
                                       class="tt-pn-link anim-fadeinup">
                                        <div class="tt-pn-title"> پروژه بعدی</div>
                                        <div class="tt-pn-hover-title">{{ product.get_next_by_created_date.title }}</div>
                                    </a> <!-- /.tt-pn-link -->

                                    <div class="tt-pn-subtitle anim-fadeinup">از زیتا مد بیشتر بدانید</div>

                                    <!-- Use if destination page contains page header image -->
                                    <div class="tt-pn-image">
                                        <img src="{{ product.get_next_by_created_date.main_image.url }}" alt="image">
                                    </div>
                                </div>
                            {% endif %}

                            <!-- End page nav -->

                        </div> <!-- /.tt-section-inner -->
                    </div>
                    <!-- End tt-section -->

                    <div class="tt-portfolio-carousel pci-hover pci-caption-stroke cursor-drag-mouse-down pc-scale-down"
                         data-simulate-touch="true" data-mousewheel="false" data-keyboard="true" data-grab-cursor="true"
                         data-pagination-type="fraction">

                        <!-- Begin swiper container -->
                        <div class="swiper">

                            <!-- Begin swiper wrapper (required) -->
                            <div class="swiper-wrapper">

                                <!-- Begin swiper slide
                                ======================== -->


                                <!-- Begin portfolio carousel item
                                ===================================
                                * Use class "pci-image-is-light" if needed, it makes the caption visible better (useful if you use light image). No effect on smaller screens!
                                -->
                                {% for faa in product_gallery %}
                                    <div class="swiper-slide">
                                        <a href="{{ faa.image.url }}" class="tt-portfolio-carousel-item"
                                           data-cursor="View<br>Project"
                                        target="_blank">

                                            <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". More info in the file "helper.css". -->
                                            <figure class="tt-pci-image-wrap cover-opacity-2">
                                                <img class="tt-pci-image swiper-lazy"
                                                     src="{{ faa.image.url }}"
                                                     data-src="{{ faa.image.url }}"
                                                     alt="Image"
                                                >
                                            </figure> <!-- /.tt-pci-image-wrap -->

                                            <div class="tt-pci-caption-front">
                                                <div class="tt-pci-caption">
                                                    <div class="tt-pci-caption-inner">
                                                        <h2 class="tt-pci-title">{{ faa.title }}
                                                        </h2>
                                                        <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->

                                                    </div> <!-- /.tt-pci-caption-inner -->
                                                </div> <!-- /.tt-pci-caption -->
                                            </div> <!-- /.tt-pci-caption-front -->

                                            <div class="tt-pci-caption tt-pci-caption-back">
                                                <div class="tt-pci-caption-inner">
                                                    <h2 class="tt-pci-title">{{ faa.title }}
                                                    </h2>
                                                    <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->

                                                </div> <!-- /.tt-pci-caption-inner -->
                                            </div> <!-- /.tt-pci-caption -->
                                        </a>
                                        <!-- End portfolio carousel item -->

                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                    <!-- End page content -->


                    <!-- ======================
                    ///// Begin tt-footer /////
                    =========================== -->

                    <!-- End tt-footer -->


                </div>

{% endblock %}