{% load render_partial %}

<!DOCTYPE html>

<!--
	Template:   zita_mode_
	Author:     Nima Afsharfar(NE3MER)
	URL:        https://zitamode.com/
-->

<html lang="en">
<head>

    <!-- Title -->
    <title>Zita - {% block title %}

    {% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description"
          content="این پروژه توسط نیما افشارفر برای کمپانی دیزاین مد و فشن زیتا مد طراحی و اجرا شده است.">
    <meta name="author" content="ne3mer@gmail.com">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon (http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="../../static/assets/img/logo_white.png" type="image/x-icon">
    <link rel="icon" href="../../static/assets/img/logo_white.png" type="image/x-icon">


    <!-- Google Analytics - Global site tag (gtag.js) -->
    <!-- Paste your Google Anaytics code here. -->

    <!-- Google fonts (https://www.google.com/fonts) -->
    <link rel="preconnect" href="https://fonts.g/static.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"> <!-- Body font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet"> <!-- Secondary/Alter font -->
    <!-- Libs and Plugins CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/vendor/normalize/normalize.min.css">
    <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
    <link rel="stylesheet" href="/static/assets/vendor/fontawesome/css/fontawesome-all.min.css">
    <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
    <link rel="stylesheet" href="/static/assets/vendor/swiper/css/swiper-bundle.min.css">
    <!-- Swiper CSS (https://swiperjs.com/) -->
    <link rel="stylesheet" href="/static/assets/vendor/lightgallery/css/lightgallery.min.css">
    <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

    <!-- Template master CSS -->
    <link rel="stylesheet" href="/static/assets/css/helper.css">
    <link rel="stylesheet" href="/static/assets/css/theme.css">

</head>


<!-- ===========
///// Body /////
================
* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
* Use class "tt-smooth-scroll" to enable page smooth scrolling.
* Use class "tt-transition" to enable page transitions.
* Use class "tt-magic-cursor" to enable magic cursor.
-->
<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


<!-- *************************************
*********** Begin body inner *************
************************************** -->
<main id="body-inner">

    <!-- Begin page transition (do not remove!!!)
    =========================== -->
    <div id="page-transition">
        <div class="ptr-overlay"></div>
        <div class="ptr-preloader">
            <div class="ptr-prel-content">
                <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
                <img src="/static/assets/img/logo_white.png" class="ptr-prel-image tt-logo-light" alt="Logo">
            </div> <!-- /.ptr-prel-content -->
        </div> <!-- /.ptr-preloader -->
    </div>
    <!-- End page transition -->

    <!-- Begin magic cursor
    ======================== -->
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <!-- End magic cursor -->

    <!-- Begin noise background -->
    <div class="bg-noise"></div>
    <!-- End noise background -->


    <!-- *****************************************
    *********** Begin scroll container ***********
    ****************************************** -->
    <div id="scroll-container">

        <!-- ===================
        ///// Begin header /////
        ========================
        * Use class "tt-header-fixed" to set header to fixed position.
        -->
        {% render_partial 'site_header_partial' %}
        <!-- End header -->


        <!-- *************************************
        *********** Begin content wrap ***********
        ************************************** -->
        {% block topbody %}

        {% endblock %}
        <!-- End content wrap -->
{% render_partial 'site_footer_partial' %}
    </div>
    <!-- End scroll container -->


</main>
<!-- End body inner -->


<!-- ====================
///// Scripts below /////
===================== -->

<!-- Core JS -->
<script src="/static/assets/vendor/jquery/jquery.min.js"></script> <!-- jquery JS (https://jquery.com) -->

<!-- Libs and Plugins JS -->
<script src="/static/assets/vendor/gsap/gsap.min.js"></script> <!-- GSAP JS (https://greensock.com/gsap/) -->
<script src="/static/assets/vendor/gsap/ScrollToPlugin.min.js"></script>
<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
<script src="/static/assets/vendor/gsap/ScrollTrigger.min.js"></script>
<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

<script src="/static/assets/vendor/smooth-scrollbar.js"></script>
<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
<script src="/static/assets/vendor/swiper/js/swiper-bundle.min.js"></script> <!-- Swiper JS (https://swiperjs.com/) -->
<script src="/static/assets/vendor/isotope/imagesloaded.pkgd.min.js"></script>
<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
<script src="/static/assets/vendor/isotope/isotope.pkgd.min.js"></script>
<!-- Isotope JS (http://isotope.metafizzy.co) -->
<script src="/static/assets/vendor/isotope/packery-mode.pkgd.min.js"></script>
<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
<script src="/static/assets/vendor/lightgallery/js/lightgallery-all.min.js"></script>
<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
<script src="/static/assets/vendor/jquery.mousewheel.min.js"></script>
<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

<!-- Theme master JS -->
<script src="/static/assets/js/theme.js"></script>


</body>

</html>